
.l_container {
padding: 10px;

}

.l_form {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  /* border: 1px solid black; */
  padding: 3%;
  border-radius: 50px;
  box-shadow: rgb(0 0 0 / 70%) 0px 5px 15px;
  width: 26%;
  height: 70%;
  /* border-radius: 20px; */
 
} 

@media screen and (min-width:1920px){
  .l_form {
    width: 30%;
    height: 45%;
    /* border-radius: 20px; */
   
  } 
}



.l_input {
width: 100%;
padding: 12px 15px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
border-radius: 50px;
}

.l_button {
background-color: #192841;
color: white;
padding: 3%;
margin-top: 5px;
border: none;
cursor: pointer;
font-size: 16px;
width: 100%;
border-radius: 30px;
background-color: #4c4177;
background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}
.l_button1 {
  padding: 5px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
  border-radius: 3px;
  }

.l_button:hover {
opacity: 0.8;
}
#lbutton:hover{
  color: white;
}
.l_button1:hover {
  opacity: 0.8;
  }

.form-label{
margin-top:0.5rem;
margin-bottom:0.5rem;
}
.form-control:active, .form-control:focus{
  box-shadow: none;
  border-color: none;
  outline:#192841  auto 5px ;
}

.login-btn-nd-text{
  text-align: center;
  margin: 0
}

*{
  font-family: 'Montserrat', sans-serif;
}

.text-gap{
  margin-top: 0em;
}

.background-grad{
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}
.dropdown-item:hover{
  background-color: #222851;
  color: white;
}
