*{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
  background-color:#192841!important ;
}

  
  
  .ad_container{

      margin-top: 20px;
      width: 100%;
      background-color: "#e6e8e6";
      border-radius: 5px;
      padding: 20px;

  }


  
  
  
  .ad_input {
    width: 50%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  .ad_button {
  background-color: #192841;
  color: white;
  padding: 5px;
  margin: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  border-radius: 3px;
  }
  
  .ad_button:hover {
  opacity: 0.8;
  }
  #ad_button:hover{
    color: white!important;
  }
  #infotab{      
  border-collapse: collapse;
      width: 100%;
border: 2px solid #192841;
}
#getData th {
  
  text-align: left;
  background-color: #192841!important ;
  color: white;
}
#getData td, #getData th {
  border: 1px solid rgb(128, 126, 126);

}



#getData tr:hover {background-color: #ddd;}
  
  
  
  
  
  