*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  
  .search_container{

      margin-top: 50px;
      width: 55%;
  }

  .search_form {
  
    background-color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  } 
  
  
  
  .search_input {
      margin-top: 10%;
    width: 25%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  .search_btn {
  background-color: #192841;
  color: white;
  padding: 5px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
  width: 10%;
  }
  
  .search1_input {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
    
  }
  .search1_form {
  
    border:1px solid black;
    padding:10px;
    margin:5px;
    width:50%;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
} 
  .search_btn:hover {
  opacity: 0.8;
  }
  #search_btn:hover{
    color: white!important;
  }
 .stable{
   display: none;
 }
  
  
  
  
  
  
  
  