
nav{
  background-color:#192841!important ;
}
  
.faform {
  
  background-color: white;
border: 1px solid black;
padding: 10px;
border-radius: 3px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-top: 20px;
width: 60%;


} 

.fa_input {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
}

.fa_button {
background-color: #192841;
color: white;
padding: 5px;
margin-top: 7px;
border: none;
cursor: pointer;
font-size: 16px;
width: 25%!important;
border-radius: 3px;
margin-bottom: 5px;
}
.fa_button:hover{
  color: white!important;
}
  
  
::-webkit-input-placeholder {

  font-weight: 800;
}
:-ms-input-placeholder {  

  font-weight: 800;
}

  
 
  
  /* Change styles for span and cancel button on extra small screens */
  /* @media screen and (max-width: 800px) {
 
    .f_form{
      width: 60%;
    }
  
  }
  @media screen and (max-width: 400px) {
    
    form{
      width: 55%;
    }
  
  } */