
.s_container {
margin: auto;
width: 70%;


} 
.s_form {

  background-color: white;
  height: 80vh;
  padding: 10px;
  margin:auto;
  box-shadow: rgb(0 0 0 / 70%) 0px 5px 15px;
  width: 70%;
  padding: 3%;
  border-radius: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} 

#txt1{
  width: 100%;
}

.s_input {
width: 50%;
padding: 4px 15px;
margin: 25px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
border-radius: 50px;
margin: 15px 0;
}

.s_button {
  background-color: #192841;
  color: white;
  padding: 1%;
  margin-top: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 20%;
  border-radius: 30px;
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

.s_button:hover {
opacity: 0.8;
}
#sbutton:hover{
  color: white;
}

.form-control:active, .form-control:focus{
  box-shadow: none;
  border-color: none;
  outline:#192841  auto 5px ;
}



.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

#inputGroupSelect01{
  border-radius: 0px 50px 50px 0px;
  padding:12px 0;
}