

  .gd_button {
    background-color: #192841;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    margin: 10px;

    }
    .gd_button:hover{
      color: white!important
    }

    .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;
    }

    #getData{
      border-collapse: collapse;
      width: 100%;
border: 2px solid #192841;
      
    }
    
 