

  .gd_button {
    background-color: #192841;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    margin: 10px;

    }
    .gd_button:hover{
      color: white!important
    }

    .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;
    }

    #getData{
      border-collapse: collapse;
      width: 100%;
border: 2px solid #192841;
      
    }

    .srow{
      margin: 10px;
      padding: 5px;
      text-align: right;
    }
    .search_btn{
      padding: 5px;
      margin-top: 5px;
      border: 1px solid black;
      cursor: pointer;
      font-size: 16px;
      width: 5px;
      color: #192841;
    }
    .search_btn:hover{
      color: #192841!important;
    }
    .search_btn:active{
      outline: none!important;
      background: none!important;
      border: none!important;
    }
    .search_btn:focus{
      outline: none!important;
      box-shadow: none;
    }

    .search_input {
      margin-top: 10%;
      width: 25%;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 3px;
      
    }
  